@tailwind base;
@tailwind components;
@tailwind utilities;
/* Apply to entire app */
html,
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif !important;
}

#root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

/* Ant Design override (important) */
.ant-app,
.ant-app *,
.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-picker,
.ant-dropdown,
.ant-popover,
.ant-notification,
.ant-message,
.ant-tooltip,
.ant-modal,
.ant-drawer,
.ant-tabs,
.ant-menu,
.ant-table,
.ant-pagination,
.ant-breadcrumb,
.ant-tag,
.ant-badge,
.ant-card,
.ant-list,
.ant-collapse,
.ant-timeline,
.ant-steps,
.ant-progress,
.ant-slider,
.ant-rate,
.ant-switch,
.ant-checkbox,
.ant-checkbox-wrapper,
.ant-radio,
.ant-radio-wrapper,
.ant-upload,
.ant-avatar,
.ant-skeleton,
.ant-form,
.ant-form-item,
.ant-form-item-label,
.ant-form-item-label > label,
.ant-table {
  font-family: "Inter", system-ui, sans-serif !important;
}
